.chi-card {
    width: 80px;
    height: 345px;
    text-align: center;
    color: rgb(4, 4, 4);
    border-radius: 10px solid black;
    border-style: inset;
    background-size: cover;
}

.chi-card {
    margin: ;
}